<h1>User Directory</h1>
<%= if @count == 0 do %>
<p>No Users</p>
<% else %>
<%= if @count == 1 do %>
<p>1 User</p>
<% end %>
<%= if @count > 1 do %>
<p><%= @count %> Users</p>
<% end %>
<%= for user <- @users do %>
<img src={user.avatar_url} />
<p>Name: <%= user.name %><br/>
Nickname: <%= user.nickname %></p>
<% end %>
<% end %>
