<h1>User Profile</h1>
<p>Name: <%= @user["name"] %></p>
<p>Nickname: <%= @user["preferredUsername"] %></p>
<%= if @count == 0 do %>
<p>No Activities</p>
<% else %>
<%= for activity <- @timeline do %>
  <StatusComponent.status activity={activity} />
<% end %>
<% end %>
<%= if @previous do %>
<p><a href={@previous}>Previous 30</a></p>
<% end %>
<%= if @next do %>
<p><a href={@next}>Next 30</a></p>
<% end %>
